<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.study.studytravelcoach.mapper.AdvertisementInfoMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.study.bean.AdvertisementInfo" >
    <id column="ad_id" property="adId" jdbcType="BIGINT" />
    <result column="ad_name" property="adName" jdbcType="VARCHAR" />
    <result column="ad_remarks" property="adRemarks" jdbcType="VARCHAR" />
    <result column="ad_img" property="adImg" jdbcType="VARCHAR" />
    <result column="ad_url" property="adUrl" jdbcType="VARCHAR" />
    <result column="ad_title" property="adTitle" jdbcType="VARCHAR" />
    <result column="ad_sequence" property="adSequence" jdbcType="INTEGER" />
    <result column="ad_gmt_create" property="adGmtCreate" jdbcType="TIMESTAMP" />
    <result column="ad_gmt_modified" property="adGmtModified" jdbcType="TIMESTAMP" />
    <result column="logic_delete" property="logicDelete" jdbcType="INTEGER" />
  </resultMap>
  <!--批量删除 逻辑删除-->
  <update id="updatedeletelist">
    UPDATE  advertisement_info SET logic_delete=1 WHERE  ad_id IN
    <foreach collection="list" separator="," open="(" close=")" item="id">
      #{id}
    </foreach>
  </update>
  <!--查询星级最大-->
  <select id="maxadSequence"  resultType="int" >
select max(ad_sequence) from advertisement_info where logic_delete=0
  </select>
  <!--从小升大星级-->
  <select id="smallbigsequence" resultMap="BaseResultMap">
    SELECT * FROM advertisement_info WHERE logic_delete=0 AND ad_sequence>#{sequence}
  </select>
  <!--从大升小星级-->
  <select id="bigsmallsequence" resultMap="BaseResultMap">
    SELECT * FROM advertisement_info WHERE logic_delete=0 AND ad_sequence &lt; #{sequence}
  </select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ad_id, ad_name, ad_remarks, ad_img, ad_url, ad_title, ad_sequence, ad_gmt_create, 
    ad_gmt_modified, logic_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.study.bean.AdvertisementInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from advertisement_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from advertisement_info
    where ad_id = #{adId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from advertisement_info
    where ad_id = #{adId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.study.bean.AdvertisementInfoExample" >
    delete from advertisement_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.study.bean.AdvertisementInfo" >
    insert into advertisement_info (ad_id, ad_name, ad_remarks, 
      ad_img, ad_url, ad_title, 
      ad_sequence, ad_gmt_create, ad_gmt_modified, 
      logic_delete)
    values (#{adId,jdbcType=BIGINT}, #{adName,jdbcType=VARCHAR}, #{adRemarks,jdbcType=VARCHAR}, 
      #{adImg,jdbcType=VARCHAR}, #{adUrl,jdbcType=VARCHAR}, #{adTitle,jdbcType=VARCHAR}, 
      #{adSequence,jdbcType=INTEGER}, #{adGmtCreate,jdbcType=TIMESTAMP}, #{adGmtModified,jdbcType=TIMESTAMP}, 
      #{logicDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.study.bean.AdvertisementInfo" >
    insert into advertisement_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="adName != null" >
        ad_name,
      </if>
      <if test="adRemarks != null" >
        ad_remarks,
      </if>
      <if test="adImg != null" >
        ad_img,
      </if>
      <if test="adUrl != null" >
        ad_url,
      </if>
      <if test="adTitle != null" >
        ad_title,
      </if>
      <if test="adSequence != null" >
        ad_sequence,
      </if>
      <if test="adGmtCreate != null" >
        ad_gmt_create,
      </if>
      <if test="adGmtModified != null" >
        ad_gmt_modified,
      </if>
      <if test="logicDelete != null" >
        logic_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        #{adId,jdbcType=BIGINT},
      </if>
      <if test="adName != null" >
        #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adRemarks != null" >
        #{adRemarks,jdbcType=VARCHAR},
      </if>
      <if test="adImg != null" >
        #{adImg,jdbcType=VARCHAR},
      </if>
      <if test="adUrl != null" >
        #{adUrl,jdbcType=VARCHAR},
      </if>
      <if test="adTitle != null" >
        #{adTitle,jdbcType=VARCHAR},
      </if>
      <if test="adSequence != null" >
        #{adSequence,jdbcType=INTEGER},
      </if>
      <if test="adGmtCreate != null" >
        #{adGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="adGmtModified != null" >
        #{adGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="logicDelete != null" >
        #{logicDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.study.bean.AdvertisementInfoExample" resultType="java.lang.Integer" >
    select count(*) from advertisement_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update advertisement_info
    <set >
      <if test="record.adId != null" >
        ad_id = #{record.adId,jdbcType=BIGINT},
      </if>
      <if test="record.adName != null" >
        ad_name = #{record.adName,jdbcType=VARCHAR},
      </if>
      <if test="record.adRemarks != null" >
        ad_remarks = #{record.adRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.adImg != null" >
        ad_img = #{record.adImg,jdbcType=VARCHAR},
      </if>
      <if test="record.adUrl != null" >
        ad_url = #{record.adUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.adTitle != null" >
        ad_title = #{record.adTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.adSequence != null" >
        ad_sequence = #{record.adSequence,jdbcType=INTEGER},
      </if>
      <if test="record.adGmtCreate != null" >
        ad_gmt_create = #{record.adGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adGmtModified != null" >
        ad_gmt_modified = #{record.adGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.logicDelete != null" >
        logic_delete = #{record.logicDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update advertisement_info
    set ad_id = #{record.adId,jdbcType=BIGINT},
      ad_name = #{record.adName,jdbcType=VARCHAR},
      ad_remarks = #{record.adRemarks,jdbcType=VARCHAR},
      ad_img = #{record.adImg,jdbcType=VARCHAR},
      ad_url = #{record.adUrl,jdbcType=VARCHAR},
      ad_title = #{record.adTitle,jdbcType=VARCHAR},
      ad_sequence = #{record.adSequence,jdbcType=INTEGER},
      ad_gmt_create = #{record.adGmtCreate,jdbcType=TIMESTAMP},
      ad_gmt_modified = #{record.adGmtModified,jdbcType=TIMESTAMP},
      logic_delete = #{record.logicDelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.study.bean.AdvertisementInfo" >
    update advertisement_info
    <set >
      <if test="adName != null" >
        ad_name = #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adRemarks != null" >
        ad_remarks = #{adRemarks,jdbcType=VARCHAR},
      </if>
      <if test="adImg != null" >
        ad_img = #{adImg,jdbcType=VARCHAR},
      </if>
      <if test="adUrl != null" >
        ad_url = #{adUrl,jdbcType=VARCHAR},
      </if>
      <if test="adTitle != null" >
        ad_title = #{adTitle,jdbcType=VARCHAR},
      </if>
      <if test="adSequence != null" >
        ad_sequence = #{adSequence,jdbcType=INTEGER},
      </if>
      <if test="adGmtCreate != null" >
        ad_gmt_create = #{adGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="adGmtModified != null" >
        ad_gmt_modified = #{adGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="logicDelete != null" >
        logic_delete = #{logicDelete,jdbcType=INTEGER},
      </if>
    </set>
    where ad_id = #{adId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.study.bean.AdvertisementInfo" >
    update advertisement_info
    set ad_name = #{adName,jdbcType=VARCHAR},
      ad_remarks = #{adRemarks,jdbcType=VARCHAR},
      ad_img = #{adImg,jdbcType=VARCHAR},
      ad_url = #{adUrl,jdbcType=VARCHAR},
      ad_title = #{adTitle,jdbcType=VARCHAR},
      ad_sequence = #{adSequence,jdbcType=INTEGER},
      ad_gmt_create = #{adGmtCreate,jdbcType=TIMESTAMP},
      ad_gmt_modified = #{adGmtModified,jdbcType=TIMESTAMP},
      logic_delete = #{logicDelete,jdbcType=INTEGER}
    where ad_id = #{adId,jdbcType=BIGINT}
  </update>
</mapper>