<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.study.studytravelcoach.mapper.AgencyMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.study.bean.Agency" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="agency_name" property="agencyName" jdbcType="VARCHAR" />
    <result column="agency_address" property="agencyAddress" jdbcType="VARCHAR" />
    <result column="agency_phone" property="agencyPhone" jdbcType="VARCHAR" />
    <result column="principal_name" property="principalName" jdbcType="VARCHAR" />
    <result column="principal_phone" property="principalPhone" jdbcType="VARCHAR" />
    <result column="admin_gmt_create" property="adminGmtCreate" jdbcType="TIMESTAMP" />
    <result column="admin_gmt_modified" property="adminGmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, agency_name, agency_address, agency_phone, principal_name, principal_phone, admin_gmt_create, 
    admin_gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.study.bean.AgencyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from agency
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from agency
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from agency
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.study.bean.AgencyExample" >
    delete from agency
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.study.bean.Agency" >
    insert into agency (id, agency_name, agency_address, 
      agency_phone, principal_name, principal_phone, 
      admin_gmt_create, admin_gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{agencyName,jdbcType=VARCHAR}, #{agencyAddress,jdbcType=VARCHAR}, 
      #{agencyPhone,jdbcType=VARCHAR}, #{principalName,jdbcType=VARCHAR}, #{principalPhone,jdbcType=VARCHAR}, 
      #{adminGmtCreate,jdbcType=TIMESTAMP}, #{adminGmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.study.bean.Agency" >
    insert into agency
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="agencyName != null" >
        agency_name,
      </if>
      <if test="agencyAddress != null" >
        agency_address,
      </if>
      <if test="agencyPhone != null" >
        agency_phone,
      </if>
      <if test="principalName != null" >
        principal_name,
      </if>
      <if test="principalPhone != null" >
        principal_phone,
      </if>
      <if test="adminGmtCreate != null" >
        admin_gmt_create,
      </if>
      <if test="adminGmtModified != null" >
        admin_gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="agencyName != null" >
        #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="agencyAddress != null" >
        #{agencyAddress,jdbcType=VARCHAR},
      </if>
      <if test="agencyPhone != null" >
        #{agencyPhone,jdbcType=VARCHAR},
      </if>
      <if test="principalName != null" >
        #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="principalPhone != null" >
        #{principalPhone,jdbcType=VARCHAR},
      </if>
      <if test="adminGmtCreate != null" >
        #{adminGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminGmtModified != null" >
        #{adminGmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.study.bean.AgencyExample" resultType="java.lang.Integer" >
    select count(*) from agency
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update agency
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.agencyName != null" >
        agency_name = #{record.agencyName,jdbcType=VARCHAR},
      </if>
      <if test="record.agencyAddress != null" >
        agency_address = #{record.agencyAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.agencyPhone != null" >
        agency_phone = #{record.agencyPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.principalName != null" >
        principal_name = #{record.principalName,jdbcType=VARCHAR},
      </if>
      <if test="record.principalPhone != null" >
        principal_phone = #{record.principalPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.adminGmtCreate != null" >
        admin_gmt_create = #{record.adminGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adminGmtModified != null" >
        admin_gmt_modified = #{record.adminGmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update agency
    set id = #{record.id,jdbcType=BIGINT},
      agency_name = #{record.agencyName,jdbcType=VARCHAR},
      agency_address = #{record.agencyAddress,jdbcType=VARCHAR},
      agency_phone = #{record.agencyPhone,jdbcType=VARCHAR},
      principal_name = #{record.principalName,jdbcType=VARCHAR},
      principal_phone = #{record.principalPhone,jdbcType=VARCHAR},
      admin_gmt_create = #{record.adminGmtCreate,jdbcType=TIMESTAMP},
      admin_gmt_modified = #{record.adminGmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.study.bean.Agency" >
    update agency
    <set >
      <if test="agencyName != null" >
        agency_name = #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="agencyAddress != null" >
        agency_address = #{agencyAddress,jdbcType=VARCHAR},
      </if>
      <if test="agencyPhone != null" >
        agency_phone = #{agencyPhone,jdbcType=VARCHAR},
      </if>
      <if test="principalName != null" >
        principal_name = #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="principalPhone != null" >
        principal_phone = #{principalPhone,jdbcType=VARCHAR},
      </if>
      <if test="adminGmtCreate != null" >
        admin_gmt_create = #{adminGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminGmtModified != null" >
        admin_gmt_modified = #{adminGmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.study.bean.Agency" >
    update agency
    set agency_name = #{agencyName,jdbcType=VARCHAR},
      agency_address = #{agencyAddress,jdbcType=VARCHAR},
      agency_phone = #{agencyPhone,jdbcType=VARCHAR},
      principal_name = #{principalName,jdbcType=VARCHAR},
      principal_phone = #{principalPhone,jdbcType=VARCHAR},
      admin_gmt_create = #{adminGmtCreate,jdbcType=TIMESTAMP},
      admin_gmt_modified = #{adminGmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>