<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.study.studytravelcoach.mapper.CertificateAllMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.study.bean.CertificateAll" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cer_name" property="cerName" jdbcType="VARCHAR" />
    <result column="cer_exam_time" property="cerExamTime" jdbcType="TIMESTAMP" />
    <result column="cer_exam_type" property="cerExamType" jdbcType="INTEGER" />
    <result column="cer_exam_score" property="cerExamScore" jdbcType="INTEGER" />
    <result column="admin_gmt_create" property="adminGmtCreate" jdbcType="TIMESTAMP" />
    <result column="admin_gmt_modified" property="adminGmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cer_name, cer_exam_time, cer_exam_type, cer_exam_score, admin_gmt_create, admin_gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.study.bean.CertificateAllExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from certificate_all
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from certificate_all
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from certificate_all
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.study.bean.CertificateAllExample" >
    delete from certificate_all
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.study.bean.CertificateAll" >
    insert into certificate_all (id, cer_name, cer_exam_time, 
      cer_exam_type, cer_exam_score, admin_gmt_create, 
      admin_gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{cerName,jdbcType=VARCHAR}, #{cerExamTime,jdbcType=TIMESTAMP}, 
      #{cerExamType,jdbcType=INTEGER}, #{cerExamScore,jdbcType=INTEGER}, #{adminGmtCreate,jdbcType=TIMESTAMP}, 
      #{adminGmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.study.bean.CertificateAll" >
    insert into certificate_all
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cerName != null" >
        cer_name,
      </if>
      <if test="cerExamTime != null" >
        cer_exam_time,
      </if>
      <if test="cerExamType != null" >
        cer_exam_type,
      </if>
      <if test="cerExamScore != null" >
        cer_exam_score,
      </if>
      <if test="adminGmtCreate != null" >
        admin_gmt_create,
      </if>
      <if test="adminGmtModified != null" >
        admin_gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cerName != null" >
        #{cerName,jdbcType=VARCHAR},
      </if>
      <if test="cerExamTime != null" >
        #{cerExamTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cerExamType != null" >
        #{cerExamType,jdbcType=INTEGER},
      </if>
      <if test="cerExamScore != null" >
        #{cerExamScore,jdbcType=INTEGER},
      </if>
      <if test="adminGmtCreate != null" >
        #{adminGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminGmtModified != null" >
        #{adminGmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.study.bean.CertificateAllExample" resultType="java.lang.Integer" >
    select count(*) from certificate_all
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update certificate_all
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cerName != null" >
        cer_name = #{record.cerName,jdbcType=VARCHAR},
      </if>
      <if test="record.cerExamTime != null" >
        cer_exam_time = #{record.cerExamTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cerExamType != null" >
        cer_exam_type = #{record.cerExamType,jdbcType=INTEGER},
      </if>
      <if test="record.cerExamScore != null" >
        cer_exam_score = #{record.cerExamScore,jdbcType=INTEGER},
      </if>
      <if test="record.adminGmtCreate != null" >
        admin_gmt_create = #{record.adminGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adminGmtModified != null" >
        admin_gmt_modified = #{record.adminGmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update certificate_all
    set id = #{record.id,jdbcType=INTEGER},
      cer_name = #{record.cerName,jdbcType=VARCHAR},
      cer_exam_time = #{record.cerExamTime,jdbcType=TIMESTAMP},
      cer_exam_type = #{record.cerExamType,jdbcType=INTEGER},
      cer_exam_score = #{record.cerExamScore,jdbcType=INTEGER},
      admin_gmt_create = #{record.adminGmtCreate,jdbcType=TIMESTAMP},
      admin_gmt_modified = #{record.adminGmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.study.bean.CertificateAll" >
    update certificate_all
    <set >
      <if test="cerName != null" >
        cer_name = #{cerName,jdbcType=VARCHAR},
      </if>
      <if test="cerExamTime != null" >
        cer_exam_time = #{cerExamTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cerExamType != null" >
        cer_exam_type = #{cerExamType,jdbcType=INTEGER},
      </if>
      <if test="cerExamScore != null" >
        cer_exam_score = #{cerExamScore,jdbcType=INTEGER},
      </if>
      <if test="adminGmtCreate != null" >
        admin_gmt_create = #{adminGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminGmtModified != null" >
        admin_gmt_modified = #{adminGmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.study.bean.CertificateAll" >
    update certificate_all
    set cer_name = #{cerName,jdbcType=VARCHAR},
      cer_exam_time = #{cerExamTime,jdbcType=TIMESTAMP},
      cer_exam_type = #{cerExamType,jdbcType=INTEGER},
      cer_exam_score = #{cerExamScore,jdbcType=INTEGER},
      admin_gmt_create = #{adminGmtCreate,jdbcType=TIMESTAMP},
      admin_gmt_modified = #{adminGmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>