<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.study.studytravelcoach.mapper.CertificateManageMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.study.bean.CertificateManage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cer_all_id" property="cerAllId" jdbcType="INTEGER" />
    <result column="cer_student_id" property="cerStudentId" jdbcType="INTEGER" />
    <result column="cer_group_exam_score" property="cerGroupExamScore" jdbcType="DECIMAL" />
    <result column="cer_exam_score" property="cerExamScore" jdbcType="DECIMAL" />
    <result column="cer_sum_score" property="cerSumScore" jdbcType="DECIMAL" />
    <result column="cer_examination_date" property="cerExaminationDate" jdbcType="TIMESTAMP" />
    <result column="cer_get_time" property="cerGetTime" jdbcType="TIMESTAMP" />
    <result column="admin_gmt_create" property="adminGmtCreate" jdbcType="TIMESTAMP" />
    <result column="admin_gmt_modified" property="adminGmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cer_all_id, cer_student_id, cer_group_exam_score, cer_exam_score, cer_sum_score, 
    cer_examination_date, cer_get_time, admin_gmt_create, admin_gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.study.bean.CertificateManageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from certificate_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from certificate_manage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from certificate_manage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.study.bean.CertificateManageExample" >
    delete from certificate_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.study.bean.CertificateManage" >
    insert into certificate_manage (id, cer_all_id, cer_student_id, 
      cer_group_exam_score, cer_exam_score, cer_sum_score, 
      cer_examination_date, cer_get_time, admin_gmt_create, 
      admin_gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{cerAllId,jdbcType=INTEGER}, #{cerStudentId,jdbcType=INTEGER}, 
      #{cerGroupExamScore,jdbcType=DECIMAL}, #{cerExamScore,jdbcType=DECIMAL}, #{cerSumScore,jdbcType=DECIMAL}, 
      #{cerExaminationDate,jdbcType=TIMESTAMP}, #{cerGetTime,jdbcType=TIMESTAMP}, #{adminGmtCreate,jdbcType=TIMESTAMP}, 
      #{adminGmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.study.bean.CertificateManage" >
    insert into certificate_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cerAllId != null" >
        cer_all_id,
      </if>
      <if test="cerStudentId != null" >
        cer_student_id,
      </if>
      <if test="cerGroupExamScore != null" >
        cer_group_exam_score,
      </if>
      <if test="cerExamScore != null" >
        cer_exam_score,
      </if>
      <if test="cerSumScore != null" >
        cer_sum_score,
      </if>
      <if test="cerExaminationDate != null" >
        cer_examination_date,
      </if>
      <if test="cerGetTime != null" >
        cer_get_time,
      </if>
      <if test="adminGmtCreate != null" >
        admin_gmt_create,
      </if>
      <if test="adminGmtModified != null" >
        admin_gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cerAllId != null" >
        #{cerAllId,jdbcType=INTEGER},
      </if>
      <if test="cerStudentId != null" >
        #{cerStudentId,jdbcType=INTEGER},
      </if>
      <if test="cerGroupExamScore != null" >
        #{cerGroupExamScore,jdbcType=DECIMAL},
      </if>
      <if test="cerExamScore != null" >
        #{cerExamScore,jdbcType=DECIMAL},
      </if>
      <if test="cerSumScore != null" >
        #{cerSumScore,jdbcType=DECIMAL},
      </if>
      <if test="cerExaminationDate != null" >
        #{cerExaminationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cerGetTime != null" >
        #{cerGetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminGmtCreate != null" >
        #{adminGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminGmtModified != null" >
        #{adminGmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.study.bean.CertificateManageExample" resultType="java.lang.Integer" >
    select count(*) from certificate_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update certificate_manage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cerAllId != null" >
        cer_all_id = #{record.cerAllId,jdbcType=INTEGER},
      </if>
      <if test="record.cerStudentId != null" >
        cer_student_id = #{record.cerStudentId,jdbcType=INTEGER},
      </if>
      <if test="record.cerGroupExamScore != null" >
        cer_group_exam_score = #{record.cerGroupExamScore,jdbcType=DECIMAL},
      </if>
      <if test="record.cerExamScore != null" >
        cer_exam_score = #{record.cerExamScore,jdbcType=DECIMAL},
      </if>
      <if test="record.cerSumScore != null" >
        cer_sum_score = #{record.cerSumScore,jdbcType=DECIMAL},
      </if>
      <if test="record.cerExaminationDate != null" >
        cer_examination_date = #{record.cerExaminationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cerGetTime != null" >
        cer_get_time = #{record.cerGetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adminGmtCreate != null" >
        admin_gmt_create = #{record.adminGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adminGmtModified != null" >
        admin_gmt_modified = #{record.adminGmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update certificate_manage
    set id = #{record.id,jdbcType=INTEGER},
      cer_all_id = #{record.cerAllId,jdbcType=INTEGER},
      cer_student_id = #{record.cerStudentId,jdbcType=INTEGER},
      cer_group_exam_score = #{record.cerGroupExamScore,jdbcType=DECIMAL},
      cer_exam_score = #{record.cerExamScore,jdbcType=DECIMAL},
      cer_sum_score = #{record.cerSumScore,jdbcType=DECIMAL},
      cer_examination_date = #{record.cerExaminationDate,jdbcType=TIMESTAMP},
      cer_get_time = #{record.cerGetTime,jdbcType=TIMESTAMP},
      admin_gmt_create = #{record.adminGmtCreate,jdbcType=TIMESTAMP},
      admin_gmt_modified = #{record.adminGmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.study.bean.CertificateManage" >
    update certificate_manage
    <set >
      <if test="cerAllId != null" >
        cer_all_id = #{cerAllId,jdbcType=INTEGER},
      </if>
      <if test="cerStudentId != null" >
        cer_student_id = #{cerStudentId,jdbcType=INTEGER},
      </if>
      <if test="cerGroupExamScore != null" >
        cer_group_exam_score = #{cerGroupExamScore,jdbcType=DECIMAL},
      </if>
      <if test="cerExamScore != null" >
        cer_exam_score = #{cerExamScore,jdbcType=DECIMAL},
      </if>
      <if test="cerSumScore != null" >
        cer_sum_score = #{cerSumScore,jdbcType=DECIMAL},
      </if>
      <if test="cerExaminationDate != null" >
        cer_examination_date = #{cerExaminationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cerGetTime != null" >
        cer_get_time = #{cerGetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminGmtCreate != null" >
        admin_gmt_create = #{adminGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminGmtModified != null" >
        admin_gmt_modified = #{adminGmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.study.bean.CertificateManage" >
    update certificate_manage
    set cer_all_id = #{cerAllId,jdbcType=INTEGER},
      cer_student_id = #{cerStudentId,jdbcType=INTEGER},
      cer_group_exam_score = #{cerGroupExamScore,jdbcType=DECIMAL},
      cer_exam_score = #{cerExamScore,jdbcType=DECIMAL},
      cer_sum_score = #{cerSumScore,jdbcType=DECIMAL},
      cer_examination_date = #{cerExaminationDate,jdbcType=TIMESTAMP},
      cer_get_time = #{cerGetTime,jdbcType=TIMESTAMP},
      admin_gmt_create = #{adminGmtCreate,jdbcType=TIMESTAMP},
      admin_gmt_modified = #{adminGmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>