<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.study.studytravelcoach.mapper.GradeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.study.bean.GradeInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="agency_address_id" property="agencyAddressId" jdbcType="INTEGER" />
    <result column="grade_name" property="gradeName" jdbcType="VARCHAR" />
    <result column="grade_type_id" property="gradeTypeId" jdbcType="INTEGER" />
    <result column="grade_person" property="gradePerson" jdbcType="INTEGER" />
    <result column="grade_start_time" property="gradeStartTime" jdbcType="TIMESTAMP" />
    <result column="grade_gmt_founder_id" property="gradeGmtFounderId" jdbcType="INTEGER" />
    <result column="logic_delete" property="logicDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, agency_address_id, grade_name, grade_type_id, grade_person, 
    grade_start_time, grade_gmt_founder_id, logic_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.study.bean.GradeInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from grade_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from grade_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from grade_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.study.bean.GradeInfoExample" >
    delete from grade_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.study.bean.GradeInfo" >
    insert into grade_info (id, gmt_create, gmt_modified, 
      agency_address_id, grade_name, grade_type_id, 
      grade_person, grade_start_time, grade_gmt_founder_id, 
      logic_delete)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{agencyAddressId,jdbcType=INTEGER}, #{gradeName,jdbcType=VARCHAR}, #{gradeTypeId,jdbcType=INTEGER}, 
      #{gradePerson,jdbcType=INTEGER}, #{gradeStartTime,jdbcType=TIMESTAMP}, #{gradeGmtFounderId,jdbcType=INTEGER}, 
      #{logicDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.study.bean.GradeInfo" >
    insert into grade_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="agencyAddressId != null" >
        agency_address_id,
      </if>
      <if test="gradeName != null" >
        grade_name,
      </if>
      <if test="gradeTypeId != null" >
        grade_type_id,
      </if>
      <if test="gradePerson != null" >
        grade_person,
      </if>
      <if test="gradeStartTime != null" >
        grade_start_time,
      </if>
      <if test="gradeGmtFounderId != null" >
        grade_gmt_founder_id,
      </if>
      <if test="logicDelete != null" >
        logic_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="agencyAddressId != null" >
        #{agencyAddressId,jdbcType=INTEGER},
      </if>
      <if test="gradeName != null" >
        #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="gradeTypeId != null" >
        #{gradeTypeId,jdbcType=INTEGER},
      </if>
      <if test="gradePerson != null" >
        #{gradePerson,jdbcType=INTEGER},
      </if>
      <if test="gradeStartTime != null" >
        #{gradeStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeGmtFounderId != null" >
        #{gradeGmtFounderId,jdbcType=INTEGER},
      </if>
      <if test="logicDelete != null" >
        #{logicDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.study.bean.GradeInfoExample" resultType="java.lang.Integer" >
    select count(*) from grade_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update grade_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.agencyAddressId != null" >
        agency_address_id = #{record.agencyAddressId,jdbcType=INTEGER},
      </if>
      <if test="record.gradeName != null" >
        grade_name = #{record.gradeName,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeTypeId != null" >
        grade_type_id = #{record.gradeTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.gradePerson != null" >
        grade_person = #{record.gradePerson,jdbcType=INTEGER},
      </if>
      <if test="record.gradeStartTime != null" >
        grade_start_time = #{record.gradeStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gradeGmtFounderId != null" >
        grade_gmt_founder_id = #{record.gradeGmtFounderId,jdbcType=INTEGER},
      </if>
      <if test="record.logicDelete != null" >
        logic_delete = #{record.logicDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update grade_info
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      agency_address_id = #{record.agencyAddressId,jdbcType=INTEGER},
      grade_name = #{record.gradeName,jdbcType=VARCHAR},
      grade_type_id = #{record.gradeTypeId,jdbcType=INTEGER},
      grade_person = #{record.gradePerson,jdbcType=INTEGER},
      grade_start_time = #{record.gradeStartTime,jdbcType=TIMESTAMP},
      grade_gmt_founder_id = #{record.gradeGmtFounderId,jdbcType=INTEGER},
      logic_delete = #{record.logicDelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.study.bean.GradeInfo" >
    update grade_info
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="agencyAddressId != null" >
        agency_address_id = #{agencyAddressId,jdbcType=INTEGER},
      </if>
      <if test="gradeName != null" >
        grade_name = #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="gradeTypeId != null" >
        grade_type_id = #{gradeTypeId,jdbcType=INTEGER},
      </if>
      <if test="gradePerson != null" >
        grade_person = #{gradePerson,jdbcType=INTEGER},
      </if>
      <if test="gradeStartTime != null" >
        grade_start_time = #{gradeStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gradeGmtFounderId != null" >
        grade_gmt_founder_id = #{gradeGmtFounderId,jdbcType=INTEGER},
      </if>
      <if test="logicDelete != null" >
        logic_delete = #{logicDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.study.bean.GradeInfo" >
    update grade_info
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      agency_address_id = #{agencyAddressId,jdbcType=INTEGER},
      grade_name = #{gradeName,jdbcType=VARCHAR},
      grade_type_id = #{gradeTypeId,jdbcType=INTEGER},
      grade_person = #{gradePerson,jdbcType=INTEGER},
      grade_start_time = #{gradeStartTime,jdbcType=TIMESTAMP},
      grade_gmt_founder_id = #{gradeGmtFounderId,jdbcType=INTEGER},
      logic_delete = #{logicDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>