<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.study.studytravelcoach.mapper.QuestionbankInfoMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.study.bean.QuestionbankInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="qb_gmt_create" property="qbGmtCreate" jdbcType="TIMESTAMP" />
    <result column="qb_gmt_modified" property="qbGmtModified" jdbcType="TIMESTAMP" />
    <result column="qb_name" property="qbName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, qb_gmt_create, qb_gmt_modified, qb_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.study.bean.QuestionbankInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from questionbank_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from questionbank_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from questionbank_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.study.bean.QuestionbankInfoExample" >
    delete from questionbank_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.study.bean.QuestionbankInfo" >
    insert into questionbank_info (id, qb_gmt_create, qb_gmt_modified, 
      qb_name)
    values (#{id,jdbcType=BIGINT}, #{qbGmtCreate,jdbcType=TIMESTAMP}, #{qbGmtModified,jdbcType=TIMESTAMP}, 
      #{qbName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.study.bean.QuestionbankInfo" >
    insert into questionbank_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="qbGmtCreate != null" >
        qb_gmt_create,
      </if>
      <if test="qbGmtModified != null" >
        qb_gmt_modified,
      </if>
      <if test="qbName != null" >
        qb_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="qbGmtCreate != null" >
        #{qbGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="qbGmtModified != null" >
        #{qbGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="qbName != null" >
        #{qbName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.study.bean.QuestionbankInfoExample" resultType="java.lang.Integer" >
    select count(*) from questionbank_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update questionbank_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.qbGmtCreate != null" >
        qb_gmt_create = #{record.qbGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qbGmtModified != null" >
        qb_gmt_modified = #{record.qbGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qbName != null" >
        qb_name = #{record.qbName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update questionbank_info
    set id = #{record.id,jdbcType=BIGINT},
      qb_gmt_create = #{record.qbGmtCreate,jdbcType=TIMESTAMP},
      qb_gmt_modified = #{record.qbGmtModified,jdbcType=TIMESTAMP},
      qb_name = #{record.qbName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.study.bean.QuestionbankInfo" >
    update questionbank_info
    <set >
      <if test="qbGmtCreate != null" >
        qb_gmt_create = #{qbGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="qbGmtModified != null" >
        qb_gmt_modified = #{qbGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="qbName != null" >
        qb_name = #{qbName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.study.bean.QuestionbankInfo" >
    update questionbank_info
    set qb_gmt_create = #{qbGmtCreate,jdbcType=TIMESTAMP},
      qb_gmt_modified = #{qbGmtModified,jdbcType=TIMESTAMP},
      qb_name = #{qbName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>