<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.study.studytravelcoach.mapper.RemarkMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.study.bean.Remark" >
    <id column="remark_id" property="remarkId" jdbcType="BIGINT" />
    <result column="remark_gmt_create" property="remarkGmtCreate" jdbcType="TIMESTAMP" />
    <result column="remark_gmt_modified" property="remarkGmtModified" jdbcType="TIMESTAMP" />
    <result column="edu_user_id" property="eduUserId" jdbcType="INTEGER" />
    <result column="remark_sum" property="remarkSum" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="remark_details" property="remarkDetails" jdbcType="VARCHAR" />
    <result column="remark_ids" property="remarkIds" jdbcType="INTEGER" />
    <result column="remark_addtime" property="remarkAddtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    remark_id, remark_gmt_create, remark_gmt_modified, edu_user_id, remark_sum, course_id, 
    remark_details, remark_ids, remark_addtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.study.bean.RemarkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from remark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from remark
    where remark_id = #{remarkId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from remark
    where remark_id = #{remarkId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.study.bean.RemarkExample" >
    delete from remark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.study.bean.Remark" >
    insert into remark (remark_id, remark_gmt_create, remark_gmt_modified, 
      edu_user_id, remark_sum, course_id, 
      remark_details, remark_ids, remark_addtime
      )
    values (#{remarkId,jdbcType=BIGINT}, #{remarkGmtCreate,jdbcType=TIMESTAMP}, #{remarkGmtModified,jdbcType=TIMESTAMP}, 
      #{eduUserId,jdbcType=INTEGER}, #{remarkSum,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, 
      #{remarkDetails,jdbcType=VARCHAR}, #{remarkIds,jdbcType=INTEGER}, #{remarkAddtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.study.bean.Remark" >
    insert into remark
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="remarkId != null" >
        remark_id,
      </if>
      <if test="remarkGmtCreate != null" >
        remark_gmt_create,
      </if>
      <if test="remarkGmtModified != null" >
        remark_gmt_modified,
      </if>
      <if test="eduUserId != null" >
        edu_user_id,
      </if>
      <if test="remarkSum != null" >
        remark_sum,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="remarkDetails != null" >
        remark_details,
      </if>
      <if test="remarkIds != null" >
        remark_ids,
      </if>
      <if test="remarkAddtime != null" >
        remark_addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="remarkId != null" >
        #{remarkId,jdbcType=BIGINT},
      </if>
      <if test="remarkGmtCreate != null" >
        #{remarkGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarkGmtModified != null" >
        #{remarkGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="eduUserId != null" >
        #{eduUserId,jdbcType=INTEGER},
      </if>
      <if test="remarkSum != null" >
        #{remarkSum,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="remarkDetails != null" >
        #{remarkDetails,jdbcType=VARCHAR},
      </if>
      <if test="remarkIds != null" >
        #{remarkIds,jdbcType=INTEGER},
      </if>
      <if test="remarkAddtime != null" >
        #{remarkAddtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.study.bean.RemarkExample" resultType="java.lang.Integer" >
    select count(*) from remark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update remark
    <set >
      <if test="record.remarkId != null" >
        remark_id = #{record.remarkId,jdbcType=BIGINT},
      </if>
      <if test="record.remarkGmtCreate != null" >
        remark_gmt_create = #{record.remarkGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarkGmtModified != null" >
        remark_gmt_modified = #{record.remarkGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.eduUserId != null" >
        edu_user_id = #{record.eduUserId,jdbcType=INTEGER},
      </if>
      <if test="record.remarkSum != null" >
        remark_sum = #{record.remarkSum,jdbcType=INTEGER},
      </if>
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=INTEGER},
      </if>
      <if test="record.remarkDetails != null" >
        remark_details = #{record.remarkDetails,jdbcType=VARCHAR},
      </if>
      <if test="record.remarkIds != null" >
        remark_ids = #{record.remarkIds,jdbcType=INTEGER},
      </if>
      <if test="record.remarkAddtime != null" >
        remark_addtime = #{record.remarkAddtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update remark
    set remark_id = #{record.remarkId,jdbcType=BIGINT},
      remark_gmt_create = #{record.remarkGmtCreate,jdbcType=TIMESTAMP},
      remark_gmt_modified = #{record.remarkGmtModified,jdbcType=TIMESTAMP},
      edu_user_id = #{record.eduUserId,jdbcType=INTEGER},
      remark_sum = #{record.remarkSum,jdbcType=INTEGER},
      course_id = #{record.courseId,jdbcType=INTEGER},
      remark_details = #{record.remarkDetails,jdbcType=VARCHAR},
      remark_ids = #{record.remarkIds,jdbcType=INTEGER},
      remark_addtime = #{record.remarkAddtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.study.bean.Remark" >
    update remark
    <set >
      <if test="remarkGmtCreate != null" >
        remark_gmt_create = #{remarkGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarkGmtModified != null" >
        remark_gmt_modified = #{remarkGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="eduUserId != null" >
        edu_user_id = #{eduUserId,jdbcType=INTEGER},
      </if>
      <if test="remarkSum != null" >
        remark_sum = #{remarkSum,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="remarkDetails != null" >
        remark_details = #{remarkDetails,jdbcType=VARCHAR},
      </if>
      <if test="remarkIds != null" >
        remark_ids = #{remarkIds,jdbcType=INTEGER},
      </if>
      <if test="remarkAddtime != null" >
        remark_addtime = #{remarkAddtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where remark_id = #{remarkId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.study.bean.Remark" >
    update remark
    set remark_gmt_create = #{remarkGmtCreate,jdbcType=TIMESTAMP},
      remark_gmt_modified = #{remarkGmtModified,jdbcType=TIMESTAMP},
      edu_user_id = #{eduUserId,jdbcType=INTEGER},
      remark_sum = #{remarkSum,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      remark_details = #{remarkDetails,jdbcType=VARCHAR},
      remark_ids = #{remarkIds,jdbcType=INTEGER},
      remark_addtime = #{remarkAddtime,jdbcType=TIMESTAMP}
    where remark_id = #{remarkId,jdbcType=BIGINT}
  </update>
</mapper>