<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.study.studytravelcoach.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.study.bean.Teacher" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tch_name" property="tchName" jdbcType="VARCHAR" />
    <result column="tch_pic_path" property="tchPicPath" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="tch_subject" property="tchSubject" jdbcType="VARCHAR" />
    <result column="tch_status" property="tchStatus" jdbcType="INTEGER" />
    <result column="logic_delete" property="logicDelete" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kgc.study.bean.Teacher" extends="BaseResultMap" >
    <result column="tch_career" property="tchCareer" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tch_name, tch_pic_path, gmt_create, gmt_modified, tch_subject, tch_status, logic_delete
  </sql>
  <sql id="Blob_Column_List" >
    tch_career
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.kgc.study.bean.TeacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.study.bean.TeacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from teacher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from teacher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.study.bean.TeacherExample" >
    delete from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.study.bean.Teacher" >
    insert into teacher (id, tch_name, tch_pic_path, 
      gmt_create, gmt_modified, tch_subject, 
      tch_status, logic_delete, tch_career
      )
    values (#{id,jdbcType=BIGINT}, #{tchName,jdbcType=VARCHAR}, #{tchPicPath,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{tchSubject,jdbcType=VARCHAR}, 
      #{tchStatus,jdbcType=INTEGER}, #{logicDelete,jdbcType=INTEGER}, #{tchCareer,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.study.bean.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tchName != null" >
        tch_name,
      </if>
      <if test="tchPicPath != null" >
        tch_pic_path,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="tchSubject != null" >
        tch_subject,
      </if>
      <if test="tchStatus != null" >
        tch_status,
      </if>
      <if test="logicDelete != null" >
        logic_delete,
      </if>
      <if test="tchCareer != null" >
        tch_career,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tchName != null" >
        #{tchName,jdbcType=VARCHAR},
      </if>
      <if test="tchPicPath != null" >
        #{tchPicPath,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="tchSubject != null" >
        #{tchSubject,jdbcType=VARCHAR},
      </if>
      <if test="tchStatus != null" >
        #{tchStatus,jdbcType=INTEGER},
      </if>
      <if test="logicDelete != null" >
        #{logicDelete,jdbcType=INTEGER},
      </if>
      <if test="tchCareer != null" >
        #{tchCareer,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.study.bean.TeacherExample" resultType="java.lang.Integer" >
    select count(*) from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teacher
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.tchName != null" >
        tch_name = #{record.tchName,jdbcType=VARCHAR},
      </if>
      <if test="record.tchPicPath != null" >
        tch_pic_path = #{record.tchPicPath,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tchSubject != null" >
        tch_subject = #{record.tchSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.tchStatus != null" >
        tch_status = #{record.tchStatus,jdbcType=INTEGER},
      </if>
      <if test="record.logicDelete != null" >
        logic_delete = #{record.logicDelete,jdbcType=INTEGER},
      </if>
      <if test="record.tchCareer != null" >
        tch_career = #{record.tchCareer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update teacher
    set id = #{record.id,jdbcType=BIGINT},
      tch_name = #{record.tchName,jdbcType=VARCHAR},
      tch_pic_path = #{record.tchPicPath,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      tch_subject = #{record.tchSubject,jdbcType=VARCHAR},
      tch_status = #{record.tchStatus,jdbcType=INTEGER},
      logic_delete = #{record.logicDelete,jdbcType=INTEGER},
      tch_career = #{record.tchCareer,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teacher
    set id = #{record.id,jdbcType=BIGINT},
      tch_name = #{record.tchName,jdbcType=VARCHAR},
      tch_pic_path = #{record.tchPicPath,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      tch_subject = #{record.tchSubject,jdbcType=VARCHAR},
      tch_status = #{record.tchStatus,jdbcType=INTEGER},
      logic_delete = #{record.logicDelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.study.bean.Teacher" >
    update teacher
    <set >
      <if test="tchName != null" >
        tch_name = #{tchName,jdbcType=VARCHAR},
      </if>
      <if test="tchPicPath != null" >
        tch_pic_path = #{tchPicPath,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="tchSubject != null" >
        tch_subject = #{tchSubject,jdbcType=VARCHAR},
      </if>
      <if test="tchStatus != null" >
        tch_status = #{tchStatus,jdbcType=INTEGER},
      </if>
      <if test="logicDelete != null" >
        logic_delete = #{logicDelete,jdbcType=INTEGER},
      </if>
      <if test="tchCareer != null" >
        tch_career = #{tchCareer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kgc.study.bean.Teacher" >
    update teacher
    set tch_name = #{tchName,jdbcType=VARCHAR},
      tch_pic_path = #{tchPicPath,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      tch_subject = #{tchSubject,jdbcType=VARCHAR},
      tch_status = #{tchStatus,jdbcType=INTEGER},
      logic_delete = #{logicDelete,jdbcType=INTEGER},
      tch_career = #{tchCareer,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.study.bean.Teacher" >
    update teacher
    set tch_name = #{tchName,jdbcType=VARCHAR},
      tch_pic_path = #{tchPicPath,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      tch_subject = #{tchSubject,jdbcType=VARCHAR},
      tch_status = #{tchStatus,jdbcType=INTEGER},
      logic_delete = #{logicDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>