<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.study.studytravelcoach.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.study.bean.Teacher" >
    <id column="teacher_id" property="teacherId" jdbcType="BIGINT" />
    <result column="teacher_gmt_create" property="teacherGmtCreate" jdbcType="TIMESTAMP" />
    <result column="teacher_gmt_modified" property="teacherGmtModified" jdbcType="TIMESTAMP" />
    <result column="tch_name" property="tchName" jdbcType="VARCHAR" />
    <result column="tch_education" property="tchEducation" jdbcType="VARCHAR" />
    <result column="tch_is_star" property="tchIsStar" jdbcType="INTEGER" />
    <result column="tch_pic_path" property="tchPicPath" jdbcType="VARCHAR" />
    <result column="tch_status" property="tchStatus" jdbcType="TIMESTAMP" />
    <result column="tch_subject" property="tchSubject" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kgc.study.bean.Teacher" extends="BaseResultMap" >
    <result column="tch_career" property="tchCareer" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    teacher_id, teacher_gmt_create, teacher_gmt_modified, tch_name, tch_education, tch_is_star, 
    tch_pic_path, tch_status, tch_subject
  </sql>
  <sql id="Blob_Column_List" >
    tch_career
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.kgc.study.bean.TeacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.study.bean.TeacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from teacher
    where teacher_id = #{teacherId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from teacher
    where teacher_id = #{teacherId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.study.bean.TeacherExample" >
    delete from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.study.bean.Teacher" >
    insert into teacher (teacher_id, teacher_gmt_create, teacher_gmt_modified, 
      tch_name, tch_education, tch_is_star, 
      tch_pic_path, tch_status, tch_subject, 
      tch_career)
    values (#{teacherId,jdbcType=BIGINT}, #{teacherGmtCreate,jdbcType=TIMESTAMP}, #{teacherGmtModified,jdbcType=TIMESTAMP}, 
      #{tchName,jdbcType=VARCHAR}, #{tchEducation,jdbcType=VARCHAR}, #{tchIsStar,jdbcType=INTEGER}, 
      #{tchPicPath,jdbcType=VARCHAR}, #{tchStatus,jdbcType=TIMESTAMP}, #{tchSubject,jdbcType=VARCHAR}, 
      #{tchCareer,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.study.bean.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="teacherGmtCreate != null" >
        teacher_gmt_create,
      </if>
      <if test="teacherGmtModified != null" >
        teacher_gmt_modified,
      </if>
      <if test="tchName != null" >
        tch_name,
      </if>
      <if test="tchEducation != null" >
        tch_education,
      </if>
      <if test="tchIsStar != null" >
        tch_is_star,
      </if>
      <if test="tchPicPath != null" >
        tch_pic_path,
      </if>
      <if test="tchStatus != null" >
        tch_status,
      </if>
      <if test="tchSubject != null" >
        tch_subject,
      </if>
      <if test="tchCareer != null" >
        tch_career,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=BIGINT},
      </if>
      <if test="teacherGmtCreate != null" >
        #{teacherGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="teacherGmtModified != null" >
        #{teacherGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="tchName != null" >
        #{tchName,jdbcType=VARCHAR},
      </if>
      <if test="tchEducation != null" >
        #{tchEducation,jdbcType=VARCHAR},
      </if>
      <if test="tchIsStar != null" >
        #{tchIsStar,jdbcType=INTEGER},
      </if>
      <if test="tchPicPath != null" >
        #{tchPicPath,jdbcType=VARCHAR},
      </if>
      <if test="tchStatus != null" >
        #{tchStatus,jdbcType=TIMESTAMP},
      </if>
      <if test="tchSubject != null" >
        #{tchSubject,jdbcType=VARCHAR},
      </if>
      <if test="tchCareer != null" >
        #{tchCareer,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.study.bean.TeacherExample" resultType="java.lang.Integer" >
    select count(*) from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teacher
    <set >
      <if test="record.teacherId != null" >
        teacher_id = #{record.teacherId,jdbcType=BIGINT},
      </if>
      <if test="record.teacherGmtCreate != null" >
        teacher_gmt_create = #{record.teacherGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.teacherGmtModified != null" >
        teacher_gmt_modified = #{record.teacherGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tchName != null" >
        tch_name = #{record.tchName,jdbcType=VARCHAR},
      </if>
      <if test="record.tchEducation != null" >
        tch_education = #{record.tchEducation,jdbcType=VARCHAR},
      </if>
      <if test="record.tchIsStar != null" >
        tch_is_star = #{record.tchIsStar,jdbcType=INTEGER},
      </if>
      <if test="record.tchPicPath != null" >
        tch_pic_path = #{record.tchPicPath,jdbcType=VARCHAR},
      </if>
      <if test="record.tchStatus != null" >
        tch_status = #{record.tchStatus,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tchSubject != null" >
        tch_subject = #{record.tchSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.tchCareer != null" >
        tch_career = #{record.tchCareer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update teacher
    set teacher_id = #{record.teacherId,jdbcType=BIGINT},
      teacher_gmt_create = #{record.teacherGmtCreate,jdbcType=TIMESTAMP},
      teacher_gmt_modified = #{record.teacherGmtModified,jdbcType=TIMESTAMP},
      tch_name = #{record.tchName,jdbcType=VARCHAR},
      tch_education = #{record.tchEducation,jdbcType=VARCHAR},
      tch_is_star = #{record.tchIsStar,jdbcType=INTEGER},
      tch_pic_path = #{record.tchPicPath,jdbcType=VARCHAR},
      tch_status = #{record.tchStatus,jdbcType=TIMESTAMP},
      tch_subject = #{record.tchSubject,jdbcType=VARCHAR},
      tch_career = #{record.tchCareer,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teacher
    set teacher_id = #{record.teacherId,jdbcType=BIGINT},
      teacher_gmt_create = #{record.teacherGmtCreate,jdbcType=TIMESTAMP},
      teacher_gmt_modified = #{record.teacherGmtModified,jdbcType=TIMESTAMP},
      tch_name = #{record.tchName,jdbcType=VARCHAR},
      tch_education = #{record.tchEducation,jdbcType=VARCHAR},
      tch_is_star = #{record.tchIsStar,jdbcType=INTEGER},
      tch_pic_path = #{record.tchPicPath,jdbcType=VARCHAR},
      tch_status = #{record.tchStatus,jdbcType=TIMESTAMP},
      tch_subject = #{record.tchSubject,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.study.bean.Teacher" >
    update teacher
    <set >
      <if test="teacherGmtCreate != null" >
        teacher_gmt_create = #{teacherGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="teacherGmtModified != null" >
        teacher_gmt_modified = #{teacherGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="tchName != null" >
        tch_name = #{tchName,jdbcType=VARCHAR},
      </if>
      <if test="tchEducation != null" >
        tch_education = #{tchEducation,jdbcType=VARCHAR},
      </if>
      <if test="tchIsStar != null" >
        tch_is_star = #{tchIsStar,jdbcType=INTEGER},
      </if>
      <if test="tchPicPath != null" >
        tch_pic_path = #{tchPicPath,jdbcType=VARCHAR},
      </if>
      <if test="tchStatus != null" >
        tch_status = #{tchStatus,jdbcType=TIMESTAMP},
      </if>
      <if test="tchSubject != null" >
        tch_subject = #{tchSubject,jdbcType=VARCHAR},
      </if>
      <if test="tchCareer != null" >
        tch_career = #{tchCareer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where teacher_id = #{teacherId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kgc.study.bean.Teacher" >
    update teacher
    set teacher_gmt_create = #{teacherGmtCreate,jdbcType=TIMESTAMP},
      teacher_gmt_modified = #{teacherGmtModified,jdbcType=TIMESTAMP},
      tch_name = #{tchName,jdbcType=VARCHAR},
      tch_education = #{tchEducation,jdbcType=VARCHAR},
      tch_is_star = #{tchIsStar,jdbcType=INTEGER},
      tch_pic_path = #{tchPicPath,jdbcType=VARCHAR},
      tch_status = #{tchStatus,jdbcType=TIMESTAMP},
      tch_subject = #{tchSubject,jdbcType=VARCHAR},
      tch_career = #{tchCareer,jdbcType=LONGVARCHAR}
    where teacher_id = #{teacherId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.study.bean.Teacher" >
    update teacher
    set teacher_gmt_create = #{teacherGmtCreate,jdbcType=TIMESTAMP},
      teacher_gmt_modified = #{teacherGmtModified,jdbcType=TIMESTAMP},
      tch_name = #{tchName,jdbcType=VARCHAR},
      tch_education = #{tchEducation,jdbcType=VARCHAR},
      tch_is_star = #{tchIsStar,jdbcType=INTEGER},
      tch_pic_path = #{tchPicPath,jdbcType=VARCHAR},
      tch_status = #{tchStatus,jdbcType=TIMESTAMP},
      tch_subject = #{tchSubject,jdbcType=VARCHAR}
    where teacher_id = #{teacherId,jdbcType=BIGINT}
  </update>
</mapper>