<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.study.studytravelcoach.mapper.TeaCourseMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.study.bean.TeaCourse" >
    <id column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="tea_course_gmt_create" property="teaCourseGmtCreate" jdbcType="TIMESTAMP" />
    <result column="tea_courser_gmt_modified" property="teaCourserGmtModified" jdbcType="TIMESTAMP" />
    <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    course_id, tea_course_gmt_create, tea_courser_gmt_modified, teacher_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.study.bean.TeaCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tea_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tea_course
    where course_id = #{courseId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tea_course
    where course_id = #{courseId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.study.bean.TeaCourseExample" >
    delete from tea_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.study.bean.TeaCourse" >
    insert into tea_course (course_id, tea_course_gmt_create, tea_courser_gmt_modified, 
      teacher_id)
    values (#{courseId,jdbcType=BIGINT}, #{teaCourseGmtCreate,jdbcType=TIMESTAMP}, #{teaCourserGmtModified,jdbcType=TIMESTAMP}, 
      #{teacherId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.study.bean.TeaCourse" >
    insert into tea_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="teaCourseGmtCreate != null" >
        tea_course_gmt_create,
      </if>
      <if test="teaCourserGmtModified != null" >
        tea_courser_gmt_modified,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="teaCourseGmtCreate != null" >
        #{teaCourseGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="teaCourserGmtModified != null" >
        #{teaCourserGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.study.bean.TeaCourseExample" resultType="java.lang.Integer" >
    select count(*) from tea_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tea_course
    <set >
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=BIGINT},
      </if>
      <if test="record.teaCourseGmtCreate != null" >
        tea_course_gmt_create = #{record.teaCourseGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.teaCourserGmtModified != null" >
        tea_courser_gmt_modified = #{record.teaCourserGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.teacherId != null" >
        teacher_id = #{record.teacherId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tea_course
    set course_id = #{record.courseId,jdbcType=BIGINT},
      tea_course_gmt_create = #{record.teaCourseGmtCreate,jdbcType=TIMESTAMP},
      tea_courser_gmt_modified = #{record.teaCourserGmtModified,jdbcType=TIMESTAMP},
      teacher_id = #{record.teacherId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.study.bean.TeaCourse" >
    update tea_course
    <set >
      <if test="teaCourseGmtCreate != null" >
        tea_course_gmt_create = #{teaCourseGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="teaCourserGmtModified != null" >
        tea_courser_gmt_modified = #{teaCourserGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="teacherId != null" >
        teacher_id = #{teacherId,jdbcType=INTEGER},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.study.bean.TeaCourse" >
    update tea_course
    set tea_course_gmt_create = #{teaCourseGmtCreate,jdbcType=TIMESTAMP},
      tea_courser_gmt_modified = #{teaCourserGmtModified,jdbcType=TIMESTAMP},
      teacher_id = #{teacherId,jdbcType=INTEGER}
    where course_id = #{courseId,jdbcType=BIGINT}
  </update>
</mapper>