<!DOCTYPE html>
<html class="x-admin-sm"   xmlns:th="http://www.thymeleaf.org" >
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">演示</a>
                <a>
                    <cite>导航元素</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5" th:action="@{/learncenter}" method="post">
                                <div th:if="${coursename}!=null" class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" th:value="${coursename}" placeholder="课程名称" name="coursename"></div>
                                <div th:if="${coursename}==null" class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input"  placeholder="课程名称" name="coursename"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn"  type="submit"><i class="layui-icon layui-icon-search">查询</i></button>
                                  <!--  <input value="搜索"/><a th:href="@{/toadd}">新增理财信息</a>-->

                                </div>
                            </form>

                          <!--  <hr>
                            <blockquote class="layui-elem-quote">每个tr 上有两个属性 cate-id='1' 当前分类id fid='0' 父级id ,顶级分类为 0，有子分类的前面加收缩图标<i class="layui-icon x-show" status='true'>&#xe623;</i></blockquote>-->
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" onclick="AllDel()">
                                <i class="layui-icon"></i>批量删除</button>
                            <td class="td-manage">
                           <a th:href="@{/course-add}"><button class="layui-btn"  lay-submit="" lay-filter="sreach"  ><i class="layui-icon"></i>增加</button></a>
                           <!--     onclick="xadmin.open('编辑','/admin-editt')"-->
                            </td>
                        </div>

                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                              <thead>
                                <tr>
                                  <th width="20">
                                    <input type="checkbox" name="" lay-skin="primary">
                                  </th>
                                  <th width="70">课程编号</th>
                                  <th>课程名称</th>
                                  <th>课程专业</th>
                                  <th>课程介绍</th>
                               <!--   <th width="50">排序</th>
                                  <th width="80">状态</th>-->
                                  <th width="250">操作</th>
                              </thead>



                              <tbody class="x-cate">

                                <tr cate-id='1' fid='0'th:each="course:${select.list}" >
                                  <td>
                                   <!-- <input type="checkbox" name="" lay-skin="primary">-->
                                      <input type="checkbox" name="selected item" class="all" th:value="${course.id}" lay-skin="primary"></td>
                                  </td>
                                    <td th:text="${course.id}"></td>
                                    <td th:text="${course.courseName}"></td>
                                    <td th:text="${course.courseSubjec}"></td>
                                    <td th:text="${course.courseIntroduction}"></td>
                                   <!-- <td><input type="text" class="layui-input x-sort" name="order" value="1"></td>
                                    <td>
                                        <input type="checkbox" name="switch"  lay-text="开启|停用"  checked="" lay-skin="switch">
                                    </td>-->
                                    <td class="td-manage">
                                        <a th:href="@{/course-updcha(id=${course.id})}"><button class="layui-btn layui-btn layui-btn-xs"><i class="layui-icon">&#xe642;</i>编辑</button></a>
                                        <a th:href="@{/chapterSelect(courseId=${course.id})}"><button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="xadmin.open('编辑','admin-edit.html')" ><i class="layui-icon">&#xe642;</i>查看章节</button></a>
                                        <a  onclick="return window.confirm('确定删除此课程吗？')" th:href="@{'/course-dele/'+${course.id}}"><button class="layui-btn-danger layui-btn layui-btn-xs"   href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button></a>
<!--
                                        <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="member_del(this,'要删除的id')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
-->
                                    </td>
                                    <!--   <td th:text="${#dates.format(book.salestarting,'yyyy-MM-dd')}"></td>
                                       <td th:text="${#dates.format(book.saleend,'yyyy-MM-dd')}"></td>
                                       <td th:text="${#dates.format(book.end,'yyyy-MM-dd')}"></td>-->

                                    <!--<td><a th:href="@{'/updcha/'+${course.id}}">修改</a>||<a onclick="return window.confirm('确定删除吗？')" th:href="@{'/delete/'+${book.id}}">删除</a></td>-->

                                <!--  <td>1</td>
                                  <td>
                                    <i class="layui-icon x-show" status='true'>&#xe623;</i>
                                    产品管理
                                  </td>
                                 -->

                                </tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page">
                                <div>
                                    <a class="current" th:href="@{/learncenter(pageNum=1,coursename=${coursename})}">首页</a>
                                    <a class="prev" th:href="@{/learncenter(pageNum=${select.prePage},coursename=${coursename})}">上一页</a>
                                    <a class="next" th:href="@{/learncenter(pageNum=${select.nextPage},coursename=${coursename})}">下一页</a>
                                    <a class="num" th:href="@{/learncenter(pageNum=${select.lastPage},coursename=${coursename})}">尾页</a>
                                    <span style="color:#888888">第[[${select.pageNum}]]页,共[[${select.pages}]]页</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>


            /*用户-停用*/
            function member_stop(obj,id){
                layer.confirm('确认要停用吗？',function(index){

                    if($(obj).attr('title')=='启用'){

                        //发异步把用户状态进行更改
                        $(obj).attr('title','停用')
                        $(obj).find('i').html('&#xe62f;');

                        $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                        layer.msg('已停用!',{icon: 5,time:1000});

                    }else{
                        $(obj).attr('title','启用')
                        $(obj).find('i').html('&#xe601;');

                        $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                        layer.msg('已启用!',{icon: 5,time:1000});
                    }

                });
            }



            layui.use(['form'], function(){
            form = layui.form;
            
          });

      /*     /!*用户-删除*!/
          function member_del(obj,id){
              layer.confirm('确认要删除吗？',function(index){
                  //发异步删除数据
                  $(obj).parents("tr").remove();
                  layer.msg('已删除!',{icon:1,time:1000});
              });
          }*/

           /*用户-删除*/
          function member_del(){
              if(confirm('确定要删除所选课程吗?')){
                  var str="";
                  checks.each(function(){
                      str+=$(this).val()+",";
                  })
                  $.post('/courseupdatedeletelist',{str:str},function (data) {
                      if (data.status=="true"){
                          layer.msg("课程删除成功!")
                          setTimeout(function () {
                              location.reload();
                          }, 300);
                      }else{
                          layer.msg("课程删除失败!")
                      }

                  },"json")
                  window.location.reload();
              }
          }

    /*        if(confirm('确定要删除所选课程吗?')){
                var str="";
                checks.each(function(){
                    str+=$(this).val()+",";
                })
                $.post('/courseupdatedeletelist',{str:str},function (data) {
                    if (data.status=="true"){
                        layer.msg("课程删除成功!")
                        setTimeout(function () {
                            location.reload();
                        }, 300);
                    }else{
                        layer.msg("课程删除失败!")
                    }

                },"json")
                window.location.reload();
            }*/

          // 分类展开收起的分类的逻辑
          // 
          $(function(){
            $("tbody.x-cate tr[fid!='0']").hide();
            // 栏目多级显示效果
            $('.x-show').click(function () {
                if($(this).attr('status')=='true'){
                    $(this).html('&#xe625;'); 
                    $(this).attr('status','false');
                    cateId = $(this).parents('tr').attr('cate-id');
                    $("tbody tr[fid="+cateId+"]").show();
               }else{
                    cateIds = [];
                    $(this).html('&#xe623;');
                    $(this).attr('status','true');
                    cateId = $(this).parents('tr').attr('cate-id');
                    getCateId(cateId);
                    for (var i in cateIds) {
                        $("tbody tr[cate-id="+cateIds[i]+"]").hide().find('.x-show').html('&#xe623;').attr('status','true');
                    }
               }
            })
          })

          var cateIds = [];
          function getCateId(cateId) {
              $("tbody tr[fid="+cateId+"]").each(function(index, el) {
                  id = $(el).attr('cate-id');
                  cateIds.push(id);
                  getCateId(id);
              });
          }


            function AllDel(){
                var checks=$("[name='selected item']:checked");
                if(checks.length==0){
                    layer.confirm('请选择课程!')
                    return false;
                }
                if(confirm('确定要删除所选课程吗?')){
                    var str="";
                    checks.each(function(){
                        str+=$(this).val()+",";
                    })
                    $.post('/courseupdatedeletelist',{str:str},function (data) {
                        if (data.status=="true"){
                            layer.msg("课程删除成功!")
                            setTimeout(function () {
                                location.reload();
                            }, 300);
                        }else{
                            layer.msg("课程删除失败!")
                        }

                    },"json")
                    window.location.reload();
                }
            }
   
        </script>


    </body>
</html>
