<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>历届真题</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
        <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                        </div>
                        <div class="layui-card-body ">
                          <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">历届真题</h3>
                                <form th:action="@{/pepImages}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="id" th:value="${pastExamPaper.getId()}">
                                    <input type="file" id="img" name="file" multiple="multiple" style="width: 300px">
                                    <input type="submit" value="上传" />
                                </form>
                              </div>
                            </li>
                            <br/>
                            <li th:if="${img!=null}">
                                <center>
                                    <div th:each="image:${img}">
                                        <img th:src="${image}" style="width: 700px;height: 900px;"/>
                                        <br/>
                                        <br/>
                                    </div>
                                </center>
                            </li>
                            <li th:if="${pdf!=null}">
                                <center>
                                    <div th:each="PDF:${pdf}">
                                        <span th:text="${PDF}" id="wenjian"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="yulan()" id="pdf">预览</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <!--<a th:href="@{/down(filename=${PDF})}">下载</a>-->
                                        <br/>
                                        <br/>
                                    </div>
                                </center>
                            </li>
                          </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </body>
          </html>
<script type="text/javascript">
    function yulan() {
        var wenjian=$("#wenjian").html();
        window.location=wenjian;
    }

    var smallPic = document.querySelector('.show-big-pic');
    var bigPic = document.querySelector('.big-pic');
    var bigImg = bigPic.querySelector('img');
    smallPic.onclick = function(e) {
        e.preventDefault();
        bigImg.src = this.href;
        bigPic.classList.add('active');
    };
    bigPic.onclick = function() {
        if (bigPic.classList.contains('active')) {
            bigPic.classList.remove('active');
            bigImg.src = '';
        }
    };
</script>