<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>开班通知</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            测试题
                        </div>
                        <div class="layui-card-body ">
                          <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title" th:text="${user}+'的测试'">哈哈哈哈的测试</h3>
                                  <span>分数为：</span><span th:text="${num}"></span>
                              </div>
                            </li>
                            <br/>
                            <li th:each="test,i:${TestInfo}">
                                <h2 th:text="${i.count}+'：'+${test.getTestName()}">烧腊店积分卡来说的放冷箭阿斯蒂芬记录竘</h2>
                                <br/>
                                <div th:if="${test.getKeys().equals('A')}">
                                    <input type="radio" checked="checked" value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio"  value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio"  value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio"  value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('B')}">
                                    <input type="radio"  value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio" checked="checked" value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio"  value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio"  value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('C')}">
                                    <input type="radio"  value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio"  value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio" checked="checked" value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio"  value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('D')}">
                                    <input type="radio"  value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio"  value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio"  value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio" checked="checked" value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('A,B') || test.getKeys().equals('B,A')}">
                                    <input type="radio" checked="checked" value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio" checked="checked" value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio"  value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio"  value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('A,C') || test.getKeys().equals('C,A')}">
                                    <input type="radio" checked="checked" value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio"  value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio" checked="checked" value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio"  value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('A,D') || test.getKeys().equals('D,A')}">
                                    <input type="radio" checked="checked" value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio"  value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio"  value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio" checked="checked" value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('B,C') || test.getKeys().equals('C,B')}">
                                    <input type="radio"  value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio" checked="checked" value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio" checked="checked" value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio"  value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('B,D') || test.getKeys().equals('D,B')}">
                                    <input type="radio"  value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio" checked="checked" value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio"  value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio" checked="checked" value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('C,D') || test.getKeys().equals('D,C')}">
                                    <input type="radio"  value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio"  value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio" checked="checked" value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio" checked="checked" value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('A,B,C') || test.getKeys().equals('A,C,B') || test.getKeys().equals('B,A,C')  || test.getKeys().equals('B,C,A') || test.getKeys().equals('C,A,B') || test.getKeys().equals('C,B,A')}">
                                    <input type="radio" checked="checked" value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio" checked="checked" value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio" checked="checked" value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio"  value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('A,B,D') || test.getKeys().equals('A,D,B') || test.getKeys().equals('B,A,D')  || test.getKeys().equals('B,D,A') || test.getKeys().equals('D,A,B') || test.getKeys().equals('D,B,A')}">
                                    <input type="radio" checked="checked" value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio" checked="checked" value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio"  value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio" checked="checked" value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('A,C,D') || test.getKeys().equals('A,D,C') || test.getKeys().equals('C,A,D')  || test.getKeys().equals('C,D,A') || test.getKeys().equals('D,A,C') || test.getKeys().equals('D,C,A')}">
                                    <input type="radio" checked="checked" value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio"  value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio" checked="checked" value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio" checked="checked" value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <div th:if="${test.getKeys().equals('B,C,D') || test.getKeys().equals('B,D,C') || test.getKeys().equals('C,B,D')  || test.getKeys().equals('C,D,B') || test.getKeys().equals('D,B,C') || test.getKeys().equals('D,C,B')}">
                                    <input type="radio"  value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio" checked="checked" value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio" checked="checked" value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio" checked="checked" value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>


                                <div th:if="${test.getKeys().equals('A,B,C,D')
                                || test.getKeys().equals('A,B,D,C')
                                || test.getKeys().equals('A,C,B,D')
                                || test.getKeys().equals('A,C,D,B')
                                || test.getKeys().equals('A,D,B,C')
                                || test.getKeys().equals('A,D,C,B')
                                || test.getKeys().equals('B,A,C,D')
                                || test.getKeys().equals('B,A,D,C')
                                || test.getKeys().equals('B,C,A,D')
                                || test.getKeys().equals('B,C,D,A')
                                || test.getKeys().equals('B,D,C,A')
                                || test.getKeys().equals('B,D,A,C')
                                || test.getKeys().equals('C,A,B,D')
                                || test.getKeys().equals('C,A,D,B')
                                || test.getKeys().equals('C,B,D,A')
                                || test.getKeys().equals('C,B,A,D')
                                || test.getKeys().equals('C,D,A,B')
                                || test.getKeys().equals('C,D,B,A')
                                || test.getKeys().equals('D,C,B,A')
                                || test.getKeys().equals('D,C,A,B')
                                || test.getKeys().equals('D,B,A,C')
                                || test.getKeys().equals('D,B,C,A')
                                || test.getKeys().equals('D,A,C,B')
                                || test.getKeys().equals('D,A,B,C')}">
                                    <input type="radio" checked="checked" value="A">&nbsp;&nbsp;<span>A：</span><span th:text="${test.getTestA()}">打发</span><br/>
                                    <input type="radio" checked="checked" value="B">&nbsp;&nbsp;<span>B：</span><span th:text="${test.getTestB()}">啊</span><br/>
                                    <input type="radio" checked="checked" value="C">&nbsp;&nbsp;<span>C：</span><span th:text="${test.getTestC()}">阿道夫</span><br/>
                                    <input type="radio" checked="checked" value="D">&nbsp;&nbsp;<span>D：</span><span th:text="${test.getTestD()}">213</span><br/>
                                </div>
                                <hr style="width: 600px"/>
                                <span>本题答案：</span><span th:text="${test.getTestKeys()}">A</span><br/>
                                <span>本题解析：</span><span th:text="${test.getTestHints()}"></span><br/>
                                <hr style="width: 600px"/>
                                <br/>
                            </li>
                          </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </body>
          </html>
<script type="text/javascript">
    var smallPic = document.querySelector('.show-big-pic');
    var bigPic = document.querySelector('.big-pic');
    var bigImg = bigPic.querySelector('img');
    smallPic.onclick = function(e) {
        e.preventDefault();
        bigImg.src = this.href;
        bigPic.classList.add('active');
    };
    bigPic.onclick = function() {
        if (bigPic.classList.contains('active')) {
            bigPic.classList.remove('active');
            bigImg.src = '';
        }
    };
</script>